p {
  background-color: #f4f49e;
}

p::first-letter {
  font-size: 150%;
}

p::strong {
  color: #ffffff;
}

ul {
  background-color: #f4f49e;
}

ol {
  background-color:#f4f49e;
  list-style: none;
  counter-reset:c 5;
}

ol > li {
  counter-increment: c -1;
}

ol > li:before {
  content: counter(c) ". ";
}

h1 {
  color: #bd0d0d;
  font-family: Fantasy;
  overflow-x: -webkit-marquee;
  -webkit-marquee-direction: backwards;
}

h2 {
  font-family: Trebuchet MS;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
